/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Bitter');

/* MEDIA QUERIES*/

@media (max-width: 767.98px) {
  #table-students {
    display: none !important;
  }

  #students {
    display: block !important;
  }
}

@media (min-width: 768px) {
  #table-students {
    display: block !important;
  }

  #students {
    display: none !important;
  }
}

.nav-titles {
  font-size: 1.5em;
  font-weight: bold;
}

.laboratoria-button {
  width: 148px;
  height: 47px;
  z-index: 71;
  line-height: 19px;
  font-size: 16px;
  font-weight: 800;
  font-family: Open Sans;
  border-radius: 2px;
  background-color: #ffe521;
  color: #000000;
}

body {
  font-family: 'Bitter', serif !important;
}

.logo {
  width: 128px;
  border-radius: 7px;
}

header {
  margin-bottom: 1em;
}

.nav-link {
  color: #333333;
}

#students-container {
  display: none;
}

.dashboard-info {
  background-color: #b3b3b3;
  padding: 1em;
  border-radius: 7px;
  color: white;
  font-size: 2em;
  text-align: center;
  height: 100%;
}

.navbar-laboratoria{
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1)
}

.navbar-laboratoria i{
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  padding: .225rem .45rem 0;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: .25rem;
}

.generation {
  cursor: pointer;
  text-align: center;
  width: 148px;
  height: 47px;
  z-index: 71;
  line-height: 19px;
  font-weight: bold;
  border-radius: 2px;
  background-color: #ffe521;
  color: #000000;
  margin: 1em;
  padding: 1em;
  list-style: none;
}

#generations {
  padding: 0;
  margin: 0 0 60px;
}

.fondo {
  border-radius: 7px;
  display: block;
  margin: 0 auto;
}
